// ✵   ★   ✯   ✬   ☆   ✬   ✮   ★   ✵
@mixin divider-1() {
    content: '\2735 \00A0 \00A0 \00A0 \2605 \00A0 \00A0 \00A0 \272F \00A0 \00A0 \00A0 \272C \00A0 \00A0 \00A0 \2606 \00A0 \00A0 \00A0 \272C \00A0 \00A0 \00A0 \272F \00A0 \00A0 \00A0 \2605 \00A0 \00A0 \00A0 \2735';
}

// ⚛   ⚝   ❃   ✶   ☆   ✶   ❃   ⚝   ⚛
@mixin divider-2() {
    content: '\269B \00A0 \00A0 \00A0 \269D \00A0 \00A0 \00A0 \2743 \00A0 \00A0 \00A0 \2736 \00A0 \00A0 \00A0 \2606 \00A0 \00A0 \00A0 \2736 \00A0 \00A0 \00A0 \2743 \00A0 \00A0 \00A0 \269D \00A0 \00A0 \00A0 \269B';
}

// ✦   ✧   ❅   ✸   ☆   ✸   ❅   ✧   ✦
@mixin divider-3() {
    content: '\2726 \00A0 \00A0 \00A0 \2727 \00A0 \00A0 \00A0 \2745 \00A0 \00A0 \00A0 \2738 \00A0 \00A0 \00A0 \2606 \00A0 \00A0 \00A0 \2738 \00A0 \00A0 \00A0 \2745 \00A0 \00A0 \00A0 \2727 \00A0 \00A0 \00A0 \2726';
}

// 2x all dividers and the three first stars of divider 1
@mixin all-dividers() {
    content: '\2735 \00A0 \2605 \00A0 \272F \00A0 \272C \00A0 \2606 \00A0 \272C \00A0 \272F \00A0 \2605 \00A0 \2735 \00A0 \269B \00A0 \269D \00A0 \2743 \00A0 \2736 \00A0 \2606 \00A0 \2736 \00A0 \2743 \00A0 \269D \00A0 \269B \00A0 \2726 \00A0 \2727 \00A0 \2745 \00A0 \2738 \00A0 \2606 \00A0 \2738 \00A0 \2745 \00A0 \2727 \00A0 \2726 \00A0 \2735 \00A0 \2605 \00A0 \272F \00A0 \272C \00A0 \2606 \00A0 \272C \00A0 \272F \00A0 \2605 \00A0 \2735 \00A0 \269B \00A0 \269D \00A0 \2743 \00A0 \2736 \00A0 \2606 \00A0 \2736 \00A0 \2743 \00A0 \269D \00A0 \269B \00A0 \2726 \00A0 \2727 \00A0 \2745 \00A0 \2738 \00A0 \2606 \00A0 \2738 \00A0 \2745 \00A0 \2727 \00A0 \2726 \00A0 \2735 \00A0 \00A0 \00A0 \2605 \00A0 \00A0 \00A0 \272F';
}
